/* Definición de la fuente Udemy Sans */

.ease-in-animation {
  @apply transition duration-500 ease-in-out;
}
.gradient-dark {
  position: relative;
  display: inline-block;
}

.box {
  position: absolute;

  top: 30px;
  height: 100%;
}
.z-navbar-top {
  z-index: 30;
}
.z-navbar-bottom {
  z-index: 30;
}
.z-purchase-course {
  z-index: 40;
}

.wrapper .stickyf {
  position: sticky;
  top: 0;
  right: 1px;
}
.gradient-dark::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(45, 47, 49, 0) 0%,
    rgba(45, 47, 49, 0.9) 100%
  );
  z-index: 1;
}

.wrapper {
  width: 100%;
}
/* links */
.link-footer {
}
.link-footer:hover {
  text-decoration: underline;
}
.ul-footer {
  display: flex;
  flex-direction: column;
  list-style: none;

  margin: 0;
  padding: 0;
  max-width: none;
  padding-right: 2.4rem;
}

.footer-paddings {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  padding-bottom: 5rem;
  padding-top: 2.4rem;
}

/* gradient show more */

.collapsed-description {
  max-height: 100px;
}

.full-description {
  max-height: none; /* Muestra todo el contenido cuando se expande */
}
.show-more-gradient-white {
  position: relative;
  overflow: hidden;
}

.show-more-gradient-white::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px; /* Altura del gradiente de desvanecimiento */
  background: linear-gradient(transparent, rgba(255, 255, 255, 0.9));
}

/* triangule  */
.triangule::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 7px solid transparent; /* La mitad del ancho deseado */
  border-right: 7px solid transparent; /* La mitad del ancho deseado */
  border-bottom: 8px solid #000; /* Altura deseada y color */
  position: absolute;
  bottom: 0;
  left: 0;
  left: 50%; /* Centramos horizontalmente */
  transform: translateX(-50%); /* Corregimos la posición horizontal */
}

.button-carousel-left {
  position: absolute;
  transform: translateY(-50%);
  top: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  width: 48px;
  height: 48px;
  border-radius: 99px;
  margin: auto;
  border: 1px solid #6a6f73;
  background-color: #2c2d2f;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
}

.button-carousel-right {
  position: absolute;
  transform: translateY(-50%);
  top: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  width: 48px;
  height: 48px;
  border-radius: 99px;
  margin: auto;
  border: 1px solid #6a6f73;
  background-color: #2c2d2f;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
}

.center-btn-carrousel {
  top: 50%;
}
.underline-line {
  text-underline-offset: 0.4rem;
  text-decoration: underline;
}

.image-hover {
  position: relative;
  display: inline-block;
  transition: 0.3s all; /* Agrega la transición aquí */
}
.image-hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(
    0,
    0,
    0,
    0.1
  ); /* Cambia la opacidad al pasar el cursor */

  pointer-events: none; /* Para que no interfiera con los elementos en la imagen */
  z-index: 1; /* Ajusta según sea necesario */
}

.MuiTooltip-arrow {
}

.MuiTooltip-arrow::before {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  border: "1px solid #d1d7dc";
}

.hidden-part-logo-active {
  transition: opacity 0.4s ease; /* Agregamos una transición solo a la propiedad de opacidad */
  position: relative;
}
.hidden-part-logo {
  position: relative;
  transition: opacity 0.4s ease; /* Agregamos una transición solo a la propiedad de opacidad */
}

.hidden-part-logo::before {
  content: "";
  opacity: 1; /* Establecemos la opacidad inicial en 0 */
  position: absolute;
  width: 100%;
  height: 60%;
  background-color: rgb(45 47 49);
  left: 36px;
  transition: opacity 0.4s ease; /* Agregamos una transición solo a la propiedad de opacidad */
  z-index: 10;
}

/* Puedes usar una clase adicional para cambiar la opacidad */
.hidden-part-logo-active::before {
  content: "";
  background-color: transparent;
  transition: opacity 0.4s ease; /* Agregamos una transición solo a la propiedad de opacidad */
  position: absolute;
  opacity: 0; /* Establecemos la opacidad final en 1 */
}

/* Estilo base para todos los checkboxes */
input[type="checkbox"] {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  max-width: 20px;
  max-height: 20px;
  min-width: 20px;
  min-height: 20px;
  border: 2px solid #000;
  border-radius: 0;
  outline: none;
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.2s, border-color 0.2s;
}

/* Estilo cuando el checkbox está marcado (checked) */
input[type="checkbox"]:checked {
  position: relative;
  background-color: #000;
  border-color: #000;
}

/* Estilo del marcador (check) cuando está marcado */
input[type="checkbox"]::before {
  content: "\2713"; /* Carácter de marca de verificación Unicode */
  display: flex;

  padding-top: -6px;
  padding-left: 3px;
  font-size: 12px;
  font-weight: 700;
  color: #fff; /* Color blanco para el checkmark */
  opacity: 0; /* Ocultar el checkmark inicialmente */
  transition: opacity 0.2s;
}

/* Estilo del checkmark cuando el checkbox está marcado */
input[type="checkbox"]:checked::before {
  opacity: 1; /* Mostrar el checkmark cuando está marcado */
}

/* editor */

.ql-toolbar {
  border: 1px solid !important;
  border-color: rgb(45 47 49) !important;
}
.ql-container {
  border-color: rgb(45 47 49) !important;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-left: 1px solid;
}

.file-input-container {
  position: relative;
  display: inline-block;
}

.hidden-input {
  display: none;
}

.custom-file-upload {
  background-color: #007bff; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  padding: 10px 20px; /* Espaciado interno del botón */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-file-upload:hover {
  background-color: #0056b3; /* Cambia el color de fondo cuando se pasa el cursor sobre el botón */
}

/* Alinea el botón a la derecha */
.custom-file-upload {
  float: right;
  /* Otras propiedades de estilo, como el margen, se pueden ajustar según tus necesidades */
}

#input-crop,
#input-crop [role="button"] {
  /* Estilos para los botones personalizados dentro de #contenedor */
  width: 100%;
}
