@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definición de la fuente Udemy Sans */
@font-face {
  font-family: "Udemy Sans";
  font-style: normal;
  font-weight: 400; /* Para coincidir con el token @font-weight-normal */
  font-display: fallback;
  src: local("Udemy Sans Regular"), local("UdemySans-Regular"),
    url("https://www.udemy.com/staticx/udemy/fonts/Udemy-Sans-Regular-v1.woff2")
      format("woff2");
}

@font-face {
  font-family: "Udemy Sans";
  font-style: normal;
  font-weight: 700; /* Para coincidir con el token @font-weight-bold */
  font-display: fallback;
  src: local("Udemy Sans Bold"), local("UdemySans-Bold"),
    url("https://www.udemy.com/staticx/udemy/fonts/Udemy-Sans-Bold-v1.woff2")
      format("woff2");
}

/* Definición de la fuente Theinhardt Mono */
@font-face {
  font-family: "Theinhardt Mono";
  font-display: fallback;
  src: local("Theinhardt Mono Regular"), local("TheinhardtMono-Regular"),
    url("https://www.udemy.com/staticx/udemy/fonts/Theinhardt-Mono-Regular-v2.woff2")
      format("woff2");
}

/* Definición de la fuente SuisseWorks */
@font-face {
  font-family: "SuisseWorks";
  font-style: normal;
  font-weight: 700; /* Para coincidir con el token @font-weight-bold */
  font-display: fallback;
  src: local("SuisseWorks Bold"), local("SuisseWorks-Bold"),
    url("https://www.udemy.com/staticx/udemy/fonts/SuisseWorks-Bold-v1.woff2")
      format("woff2");
}

body {
  font-family: "Udemy Sans", sans-serif;
  color: #2d2f31;
}
* {
  box-sizing: border-box;
  font-family: "Udemy Sans", sans-serif;
}
.ease-in-animation {
  @apply transition duration-500 ease-in-out;
}
.shadow-top {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 0 4px 12px rgba(0, 0, 0, 0.1);
}
.shadow-top-dark {
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.08), 0 -4px 12px rgba(0, 0, 0, 0.16);
}
.gradient-dark {
  position: relative;
  display: inline-block;
}

.gradient-dark::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(45, 47, 49, 0) 0%,
    rgba(45, 47, 49, 0.9) 100%
  );
  z-index: 1;
}

/* funcionalidad de fixed de curso*/
.wrapper {
  width: 100%;
}

.box {
  position: absolute;

  top: 30px;
  height: 100%;
}
.z-navbar-top {
  z-index: 30;
}
.z-navbar-bottom {
  z-index: 30;
}
.z-purchase-course {
  z-index: 40;
}

.line-h {
  line-height: 1.4rem;
}

.wrapper .stickyf {
  position: sticky;
  top: 0;
  right: 1px;
}

/* hr white borders */
.hr-bottom {
  border-bottom: 1px solid #d1d7dc;
}
.hr-bottom-dark {
  border-bottom: 1px solid #3e4143;
}

.hr-left {
  border-left: 1px solid #d1d7dc;
}
.hr-left-dark {
  border-left: 1px solid #3e4143;
}

.hr-right {
  border-right: 1px solid #d1d7dc;
}
.hr-right-dark {
  border-right: 1px solid #3e4143;
}

.hr-top {
  border-top: 1px solid #d1d7dc;
}
.hr-top-dark {
  border-top: 1px solid #3e4143;
}

.hr-full {
  border: 1px solid #d1d7dc;
}
.hr-full-dark {
  border: 1px solid #3e4143;
}

/* links */
.link-footer {
}
.link-footer:hover {
  text-decoration: underline;
}
.ul-footer {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  max-width: none;
  padding-right: 2.4rem;
  flex-basis: 25.6rem;
}

.footer-paddings {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  padding-bottom: 5rem;
  padding-top: 2.4rem;
  
}
